*{
    font-family: sans-serif;
}
body{
    background-color: rgb(231, 225, 225);
    margin: 0;
}
#menu ul li{
    display: inline;
}
#menu ul{
    margin: 0;
    background-color: rgb(0, 0, 0);
}

#menu ul li a{
    display: inline-block;
    padding: 2px 100px;
    color: rgba(255, 0, 0, 0.89);
}

#menu{
    text-align: center;
    margin-right: 0px;
    position: sticky;
    top: 0;
}

.mudaCor:hover{
    color: aliceblue;
}

#imgs{
    display: inline;
}

.imgRoh{
    margin-top: 4%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 24%;
    border: 2px solid rgb(117, 0, 0);
}

.imgFelipe{
    margin-top: 4%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 20%;
    border: 2px solid rgb(117, 0, 0);
}

#nomes ul li p{
    display: inline-block;
    color: rgb(11, 12, 14);
}

#nomeRoh{
    margin-left: 320px;
    font-family: sans-serif;
}

#nomeFelipe{
    font-family: sans-serif;
    margin-left: 366px;
}

#nomes ul li{
    display: inline-block;   
}

#informacoesRoh{
    margin-left: 18%;
    color: rgb(11, 13, 14);
    display: inline-block;
}

#informacoesFelipe{
    margin-left: 3%;
    color: rgb(0, 0, 0);
    display: inline-block;
}

#informacoesGerais h3{
    text-align: center;
    color: rgb(0, 0, 0);
}

#midias ul{
    display: inline-block;

}
#midias ul li{
    padding-bottom: 20px;
    
}

#midias h3{
    text-align: center;
    color: rgb(0, 0, 0);
}

#midiasRoh{
    color: rgb(0, 0, 0);
    margin-left: 20%;
}
#midiasFelipe{   
    color: rgb(0, 0, 0);
    margin-left: 15%;
}

.imgMidias{
    width: 32px;
    height: 25px;
    border-radius: 40%;
    padding-right: 5px;
}
.midiasRoh, .alinhaImgs, .imgMidias{
    display: flex;
    align-items: center;
}
